<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改用户</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" th:action="@{/AdminUserController/adminEditUser}" th:object="${user}"  method="post">
        <input type="hidden" name="userId" th:value="*{userId}" />
        <div class="form-group">
            <label for="user_name" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_name"  id="user_name" th:value="*{user_name}" placeholder="userName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="user_password" class="col-sm-2 control-label" >Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="user_password" id="user_password"  th:value="*{user_password}" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="user_phone" class="col-sm-2 control-label">phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_phone"  id="user_phone" th:value="*{user_phone}" placeholder="phone"/>
            </div>
        </div>
        <div class="form-group">
            <label for="user_mail" class="col-sm-2 control-label">mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_mail"  id="user_mail" th:value="*{user_mail}" placeholder="mail"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a th:href="@{/AdminUserController/adminUserList}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
