<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加商品</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- 设置全屏功能的css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/release/wangEditor-fullscreen-plugin.css}">
    <!-- 编辑器编辑后，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
    <script type="text/javascript">
        function modifyContent() {
            var introduce = document.getElementById("introduce");
            introduce.value = editor.txt.html();
        }
    </script>
</head>
<body class="container">
<br/>
<h1>添加商品</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" th:action="@{/AdminProductController/adminAddProduct}" method="post" enctype="multipart/form-data" onsubmit="modifyContent()">
        <div class="form-group">
            <label for="product_inventory" class="col-sm-2 control-label">库存</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_inventory"  id="product_inventory" placeholder="库存"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_activity" class="col-sm-2 control-label" >活动名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_activity" id="product_activity" placeholder="活动名称"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_category" class="col-sm-2 control-label">类别</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_category"  id="product_category" placeholder="类别"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_counterPrice" class="col-sm-2 control-label">专柜价</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_counterPrice"  id="product_counterPrice" placeholder="专柜价"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_isRedeemable" class="col-sm-2 control-label">是否可兑换</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_isRedeemable"  id="product_isRedeemable" placeholder="是否可兑换"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_isShelf" class="col-sm-2 control-label">是否上架</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_isShelf"  id="product_isShelf" placeholder="是否上架"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_isTop" class="col-sm-2 control-label">是否热门</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_isTop"  id="product_isTop" placeholder="是否热门"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_keywords" class="col-sm-2 control-label">关键字</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_keywords"  id="product_keywords" placeholder="关键字"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_mallPrice" class="col-sm-2 control-label">商城价</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_mallPrice"  id="product_mallPrice" placeholder="商城价"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_needPoints" class="col-sm-2 control-label">需要积分</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_needPoints"  id="product_needPoints" placeholder="需要积分"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_getPoints" class="col-sm-2 control-label">得到积分</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_getPoints"  id="product_getPoints" placeholder="得到积分"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_serviceType" class="col-sm-2 control-label">服务类型</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_serviceType"  id="product_serviceType" placeholder="服务类型"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_specification" class="col-sm-2 control-label">商品规格</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="product_specification"  id="product_specification" placeholder="商品规格"/>
            </div>
        </div>
        <div class="form-group">
            <label for="product_isTop" class="col-sm-2 control-label">上传图片</label>
            <input type="file" name="file" />
            <input type="file" name="file" />
        </div>
        <div class="form-group">
            <!-- 编辑器编辑，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
            <textarea rows="5" cols="35" name="product_details" style="display:none;" id="introduce"></textarea>
            <div id="editor">
                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            </div>
            <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
            <script type="text/javascript" th:src="@{/release/wangEditor.min.js}"></script>
            <!-- 设置全屏功能的两个js文件，先引入jquery-3.2.1.min.js，在引入wangEditor-fullscreen-plugin.js -->
            <script type="text/javascript" th:src="@{/release/jquery-3.2.1.min.js}"></script>
            <script type="text/javascript" th:src="@{/release/wangEditor-fullscreen-plugin.js}"></script>
            <script type="text/javascript">
                var E = window.wangEditor
                var editor = new E('#editor')
                /* 处理上传图片的controller路径 */
                editor.customConfig.uploadImgServer = '/AdminProductController/upload'
                /* 定义上传图片的默认名字 */
                editor.customConfig.uploadFileName = 'myFileName'
                // 或者 var editor = new E( document.getElementById('editor') )
                editor.create()
                //初始化全屏插件
                E.fullscreen.init('#editor');
            </script>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
</body>
</html>
