server:
  port: 8080
  servlet:
    context-path: /xf_mall
logging:
  config: classpath:logback-spring.xml
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1/xf_mall?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC&useSSL=true
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    platform: org.hibernate.dialect.MySQL5InnoDBDialect
  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
  thymeleaf:
    cache: false

