<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <form th:action="@{/AdminUserController/adminFindUser}"  method="post">
        <div>
            <input type="text" id="user_name" name="user_name" th:value="*{user_name}" placeholder="用户名" >
            <input type="submit" value="搜索" class="btn btn-info" />
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Password</th>
            <th>phone</th>
            <th>mail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <th scope="row" th:text="${user.user_id}"></th>
            <td th:text="${user.user_name}"></td>
            <td th:text="${user.user_password}"></td>
            <td th:text="${user.user_phone}"></td>
            <td th:text="${user.user_mail}"></td>
            <td><a th:href="@{/AdminUserController/toAdminEditUser(id=${user.user_id})}">edit</a></td>
            <td><a th:href="@{/AdminUserController/adminDeleteUser(id=${user.user_id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a th:href="@{/AdminUserController/toAdminAddUser}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>