<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<a th:href="@{/cancellation}" class="btn btn-info">退出登录</a>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <tbody>
        <tr  th:each="user : ${user}">
            <td th:text="${user.user_name}"></td>
            <a th:href="@{/IntegralController/integralList(user_id=${user.user_id})}" class="btn btn-info">积分明细</a>
            <a th:href="@{/OrderController/userOrder(user_name=${user.user_name})}" class="btn btn-info">我的订单</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>