<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>个人资料</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/UserManagementController/changeInformation}" th:object="${user}"  method="post">
        <input type="hidden" name="user_id" th:value="*{user_id}" />
        <div class="form-group">
            <label for="user_name" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_name"  id="user_name" th:value="*{user_name}" placeholder="userName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="user_phone" class="col-sm-2 control-label">phone</label>
            <div class="col-sm-10">
                <p class="form-control" id="user_phone" th:text="${user.user_phone}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="user_mail" class="col-sm-2 control-label">mail</label>
            <div class="col-sm-10">
                <p class="form-control" id="user_mail" th:text="*{user_mail}"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a th:href="@{/AdminUserController/adminUserList}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>
