<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账户注册|新飞</title>
    <link rel="stylesheet" th:href="@{/css/sign-up3.css}"></link>
    <link rel="shortcut icon"  th:href="@{/images/xflogo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/font/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
</head>
<body>
<div class="contenter">
    <div class="header">
        <img th:src="@{/images/logo.png}" class="xflogo">
        <p class="register">用户注册</p>
    </div>
    <div class="steps">
        <ul>
            <li class="li1">
                <div class="serial-1">1.</div>
                <span class="spn1">设置用户名</span>
            </li>
            <li class="li2">
                <div class="serial-2">2.</div>
                <span class="spn2">填写账户信息</span>
            </li>
            <li class="li3">
                <div class="serial-3">3.</div>
                <span class="spn3">
                    注册成功
                </span>
            </li>
        </ul>
    </div>
    <div class="content">
        <form class="form-list3">
            <div class="success">
                <img th:src="@{/images/correct.jpg}" class="size">
                <p style="display: inline; margin-left: 20px;color: red;">亲，恭喜你注册成功！</p>
                <div class="success-sign">
                    <a href="#"><span class="success-signs">登录</span></a>
                    <a href="#"><span class="success-signs">暂不登录</span></a>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <ul>
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li><br><li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"> <a href="#">招贤纳士</a></li>|
            <li class="listyle"><a href="#">企业文化</a></li>|<li class="listyle"><a href="3">品质科技</a></li>|<li class="listyle"><a href="#">新闻中心</a></li>|<li class="listyle"><a href="#">招贤纳士</a></li>|<br>
            <p style="display: inline;color: #6C6C6C">网络文化经营许可证：<a>文网文[2010]40号</a></p>&nbsp&nbsp<p style="display: inline;color: #6C6C6C">信息网络传播视听节目许可证：1109364号</p>
        </ul>
    </footer>

</div>

</div>
<script th:src="@{/js/sign-up.js}"></script>
</body>
</html>